.StepperContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.MinusIcon {
  height: 40px;
  width: 25px;
  color: #8b8b8b;
}

.PlusIcon {
  height: 40px;
  width: 25px;
}

.Active {
  color: #fff;
}

.Active:active {
  color: #b6b4b4;
}
