.Button {
  width: 20%;
  padding: 10px 0;
  background: #56d35b;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.Button:hover {
  background-color: #4e9a51;
}

.Button:active {
  background-color: #40823e;
}

.ButtonIcon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
